
.accordian{
    box-shadow: none !important;
    border: none !important;
  
    &:before {
      display: none !important;
    }
  
    .MuiAccordionSummary-root {
      border: none !important;
    }

    .MuiAccordionDetails-root {
      border: none !important;
    }
}


.option-textbox{

  width:50%;
}
.item-detail-label{
  font-size: 16px;
  font-weight: 500;
  color:rgb(130, 130, 130)

}
.item-detail-line{
  font-size: 18px;
  font-weight: 500;
  color:rgb(34, 34, 34)

}
.acc-heading-label{
  font-size: 16px;
  color: #939393;
  font-weight: 100;
}
.acc-heading-value{
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #494949;
  font-weight:500;
}