@import '../../constants/colors.scss';

.accordian {
  box-shadow: none !important;
  border: none !important;

  &:before {
    display: none !important;
  }

  .MuiAccordionSummary-root {
    border: none !important;
  }

  .MuiAccordionDetails-root {
    border: none !important;
  }
}


.option-textbox {

  width: 50%;
}

.item-detail-label {
  font-size: 16px;
  font-weight: 550;
  color: $item-label-grey
}

.item-detail-line {
  font-size: 18px;
  font-weight: 500;
  color: $item-value-black
}

.acc-heading-label {
  font-size: 16px;
  color: $item-label-grey;
  font-weight: bold;
}

.acc-heading-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: $item-value-black;
  font-weight: 600;

}