.customer-details{
    display: flex;
    margin-top: 20px;
}
.customer-address-block,.customer-contact-block{

    width: 50%;
}
.primary-input-block{
    display: flex;
    align-items: center;

}
.customer-value-input{
    margin-bottom: 10px;
}
.customer-name-block{
    margin-bottom: 10px;
}