@import '../../constants/colors.scss';
.doc-info-outer{
    display: flex;
    justify-content: space-between;

}
.doc-info-date{
    display: flex;
    align-items: center;
}
.doc-pno-block{
    margin-left: 16px;
}
.doc-pno-label{
    
    color: $item-label-grey;
    font-weight: 200;
    font-size: 16px;
}
.doc-pno-value{
    font-size: 20px;
}