@import '../../constants/colors.scss';
.ledger-label{
    margin-bottom: 10px;
    font-size: 16px;
    color: $item-label-grey;
    font-weight: 100;
}
.ledger-outer{ 
    display: "flex"; 
    align-items: "center"; 
}