.billing-details{

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    
}
.billing-address-block{

    width: 50%;

    align-self: start;
    justify-self: start;

}
.billing-contact-block{

      align-self: start;


}
.billing-nos{
    // background-color: rebeccapurple;
    width: 50%;
    margin-top: 20px;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    align-self: end;
    justify-self: start;

}
