// greys
$border-grey: #E9E9E9;
$table-border-grey: #dddddd;
$hover-grey: #F1F1F1;
$item-label-grey: #999999;
$scroll-head-grey: #c0c0c0;

//black
$topbar-black: #000000;
$item-value-black: #090909;
$doc-shadow-black: #00000035;

// red
$error-icon-red: #FF0000;
$error-msg-red: #721c24;

//white
$main-background-white: #f1f3f6;
// $main-background-white: #ce4b4b;

$doc-body-white: #FFFFFF;