.po-outer{
    margin-top: 75px;
}
.po-body{
    border:1px solid black;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
    padding-top: 20px;

}
.divider{
    padding: 0px;
    margin: 10px -10px;
    height: 1px;
    background-color: #000;
}