@import '../../constants/colors.scss';

.doc-filter-outer {
    border-radius: 8px;
    width: 20vw;
    // height: calc(100vh - 85px);
    max-height: 75vh;
    // height: 470px;
    overflow-y: auto;
    text-align: center;
    margin: 10px;
    box-shadow: 0px 4px 10px $doc-shadow-black;
    background-color: $doc-body-white;

    &::-webkit-scrollbar-thumb {
        background: #959595;
        border-radius: 5px;
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: $border-grey;
        /* Color of the scrollbar track */
    }
}

.filter-heading {

    margin: 10px 0 20px 20px;
    text-align: start;
    font-size: 22px;
    font-weight: bold;
    color: $item-label-grey ;
}

.filter-subheading {
    margin-top: 20px;
    margin-left: 20px;
    text-align: start;
    font-size: 16px;
    font-weight: bold;
    color: $item-label-grey ;
}

.filter-buttons {
    margin: 10px 20px;

}