@import '../../constants/colors.scss';
.topbar-outer2{
    background-color:$topbar-black;
    height: 65px;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.topbar-profile{
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topbar-logo{
    display: flex;
    margin-left: 10px;
    align-items: center;
}
