.customer-details{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.primary-input-block{
    display: flex;
    align-items: center;

}
.customer-value-input{
    margin-bottom: 10px;
}